# Firebase Admin SDK
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_CLIENT_X509_CERT_URL=

# Supabase
SUPABASE_URL=
SUPABASE_API_KEY=
SUPABASE_BUCKET=

# OpenAI
OPENAI_API_KEY=

# Resend
RESENT_API_KEY=
